# JWT
SECRET_KEY=A86B4314-DF55-8A73-AD97-E8ADB9EDE1F0
ALGORITHM=HS256

# PostgreSQL
POSTGRES_SOURCE=postgresql://honfi:art_hub_password@localhost:5432/art_hub

# Redis
# Для запуска без Docker:
# REDIS_HOST_PROD=localhost
# REDIS_HOST=localhost

# Для запуска внутри docker-compose используй:
REDIS_HOST=redis

REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_USER=